---
layout: base
---

<section class="it-hero-wrapper" aria-label="In evidenza">
   <div class="img-responsive-wrapper">
      <div class="img-responsive">
         <div class="img-wrapper"><img src="https://static.pordenonelegge.it/assets/notizie/2022/angelo-1.jpg" title="" alt="Uffici"></div>
      </div>
   </div>
</section>

<br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <!-- Breadcrumb -->
      <div class="cmp-breadcrumbs" role="navigation">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
          <ol class="breadcrumb p-0" data-element="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a><span class="separator">/</span></li>
            <li class="breadcrumb-item active" aria-current="page">Area personale</li>
          </ol>
        </nav>
      </div>

      <!-- Heading -->
      <div class="cmp-heading pb-3 pb-lg-4">
        <h1 class="title-xxxlarge">Gabriel Jones</h1>
        <p class="subtitle-small">CF: JNSGRL08H11L424Z</p>
      </div>
    </div>

    <!-- Nav Tabs -->
    <div class="col-12 p-0">
      <div class="cmp-nav-tab mb-4 mb-lg-5 mt-lg-4">
        <ul class="nav nav-tabs nav-tabs-icon-text w-100 flex-nowrap border-0" id="myTab" role="tablist">
          <li class="nav-item w-100" role="presentation">
            <a class="nav-link justify-content-start text-tab active" id="tab1-tab"
               data-bs-toggle="tab" href="#data-ex-tab1" role="tab" aria-controls="data-ex-tab1" aria-selected="true">
              <svg class="icon me-1 mr-lg-10" aria-hidden="true">
                <use href="/media/sprites.svg#it-pa"></use>
              </svg>
              Scrivania
            </a>
          </li>
          <li class="nav-item w-100" role="presentation">
            <a class="nav-link justify-content-start text-tab" id="tab2-tab"
               data-bs-toggle="tab" href="#data-ex-tab2" role="tab" aria-controls="data-ex-tab2" aria-selected="false">
              <svg class="icon me-1 mr-lg-10" aria-hidden="true">
                <use href="/media/sprites.svg#it-mail"></use>
              </svg>
              E-Mail in evidenza
            </a>
          </li>
          <li class="nav-item w-100" role="presentation">
            <a class="nav-link justify-content-start text-tab" id="tab3-tab"
               data-bs-toggle="tab" href="#data-ex-tab3" role="tab" aria-controls="data-ex-tab3" aria-selected="false">
              <svg class="icon me-1 mr-lg-10" aria-hidden="true">
                <use href="/media/sprites.svg#it-files"></use>
              </svg>
              Documenti Interni
            </a>
          </li>
          <li class="nav-item w-100" role="presentation">
            <a class="nav-link justify-content-start text-tab" id="tab4-tab"
               data-bs-toggle="tab" href="#data-ex-tab4" role="tab" aria-controls="data-ex-tab4" aria-selected="false">
              <svg class="icon me-1 mr-lg-10" aria-hidden="true">
                <use href="/media/sprites.svg#it-settings"></use>
              </svg>
              Portale
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Tab Content -->
    <div class="col-12">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active custom-tab p-4" id="data-ex-tab1" role="tabpanel" aria-labelledby="tab1-tab">
          <h2 class="tab-title">Scrivania</h2>
          <p class="tab-text">Qui puoi gestire le tue attività principali e accedere alle funzioni rapide.</p>
{% raw %}
{% assign docs = site.docs | sort: 'date' | reverse %}
{% for doc in docs limit:5 %}
<div class="accordion-item">
  <div class="accordion-header" id="heading-{{ forloop.index }}">
    <button class="accordion-button title-snall-semi-bold collapsed" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapse-{{ forloop.index }}"
      aria-expanded="false"
      aria-controls="collapse-{{ forloop.index }}"
      data-focus-mouse="false">
      <div class="button-wrapper">
        {{ doc.title }}
        <div class="icon-wrapper">
          <img class="icon-folder" src="{{ '/assets/images/folder-concluded.svg' | relative_url }}" alt="folder Conclusa" role="img">
          <span class="">{{ doc.status | default: "Conclusa" }}</span>
        </div>
      </div>
    </button>
    <p class="accordion-date title-xsmall-regular mb-0">{{ doc.date | date: "%d/%m/%Y" }}</p>
  </div>

  <div id="collapse-{{ forloop.index }}" class="accordion-collapse p-0 collapse"
    data-bs-parent="#accordionExampleDocs"
    role="region"
    aria-labelledby="heading-{{ forloop.index }}">
    <div class="accordion-body">
      {% if doc.pratica %}
        <p class="mb-2 fw-normal">Pratica: <span class="label">{{ doc.pratica }}</span></p>
      {% endif %}

      {% if doc.scheda_url %}
        <a href="{{ doc.scheda_url }}" class="mb-2">
          <span class="t-primary">Scheda servizio</span>
        </a>
      {% endif %}

      {% if doc.tags %}
        {% for tag in doc.tags %}
          <a class="chip chip-simple" href="{{ '/docs/tags/' | append: tag | relative_url }}">
            <span class="chip-label">{{ tag }}</span>
          </a>
        {% endfor %}
      {% endif %}

      {% if doc.links %}
      <div class="cmp-icon-list">
        <div class="link-list-wrapper">
          <ul class="link-list">
            {% for link in doc.links %}
            <li class="shadow p-0">
              <a class="list-item icon-left t-primary title-small-semi-bold" href="{{ link.url }}" aria-label="{{ link.label }}">
                <span class="list-item-title-icon-wrapper">
                  <svg class="icon icon-sm align-self-start icon-color" aria-hidden="true">
                    <use href="{{ '/assets/bootstrap-italia/dist/svg/sprites.svg#it-clip' | relative_url }}"></use>
                  </svg>
                  <span class="list-item-title title-small-semi-bold">{{ link.label }}</span>
                </span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endraw %}

        </div>
        <div class="tab-pane fade custom-tab p-4" id="data-ex-tab2" role="tabpanel" aria-labelledby="tab2-tab">
          <h2 class="tab-title">Articoli</h2>
          <p class="tab-text">Visualizza qui le email più importanti o segnalate.</p>
        </div>
        <div class="tab-pane fade custom-tab p-4" id="data-ex-tab3" role="tabpanel" aria-labelledby="tab3-tab">
          <h2 class="tab-title">Documenti Interni</h2>
          <p class="tab-text">Trova tutti i documenti interni associati al tuo profilo.</p>
        </div>
        <div class="tab-pane fade custom-tab p-4" id="data-ex-tab4" role="tabpanel" aria-labelledby="tab4-tab">
          <h2 class="tab-title">Portale</h2>
          <p class="tab-text">Accedi alle sezioni avanzate e alle impostazioni del portale.</p>
        </div>
      </div>
    </div>
  </div>
</div>