---
layout: default
---
<header>
  <div class="it-header-wrapper">
    <div class="it-header-slim-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-slim-wrapper-content">
              <div class="nav-mobile">
                <nav>
                  <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu1" role="button" aria-expanded="false" aria-controls="menu1">
                    <span>Jonez</span>
                    <svg class="icon">
                      <use xlink:href="/media/sprites.svg#it-expand"></use>
                    </svg>
                  </a>
                  <div class="link-list-wrapper collapse" id="menu1">
                    <ul class="link-list">
                      <li><a href="/FOIA/">FOIA</a></li>
                      <li><a href="/Admin/">Amministrazione</a></li>
                    </ul>
                  </div>
                </nav>
              </div>
<div class="header-slim-right-zone">
  <!-- Language Switch -->
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span>Area Personale</span>
      <svg class="icon d-none d-lg-block">
        <use xlink:href="/media/sprites.svg#it-expand"></use>
      </svg>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
      <li><a class="dropdown-item" href="https://jonez.it/admin/#/collections/articoli">Post Creator</a></li>
      <hr>
      <li><a class="dropdown-item" href="/area-personale/"><b>Area Personale</b></a></li>
      <li><a class="dropdown-item" href="/area-personale/documenti/">Documenti</a></li>
      <li><a class="dropdown-item" href="/area-personale/galleria/">Galleria</a></li>
      <li><a class="dropdown-item" href="/area-personale/collezioni/">Collezioni</a></li>
      <li><a class="dropdown-item" href="/area-personale/apps/">Applicazioni</a></li>
      <li><a class="dropdown-item" href="/area-personale/comunicazioni/">Comunicazioni</a></li>
    </ul>
  </div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-italia/1.4.0/css/bootstrap-italia.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-italia/1.4.0/js/bootstrap-italia.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-nav-wrapper">
      <div class="it-header-center-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="it-header-center-content-wrapper">
                <div class="it-brand-wrapper">
                  <a href="/">
                    <img class="icon" src="https://gabrieljones.it/assets/logo.png" width="82" height="82" alt="Logo">
                    <div class="it-brand-text">
                      <h1 class="no_toc">Jonez</h1>
                    </div>
                  </a>
                </div>
                <div class="it-right-zone">
                  <div class="it-socials d-none d-md-flex">
                    <span>Seguici su</span>
                    <ul>
                      <li class="list-inline-item">
                        <a href="https://instagram.com/onlygabbyme" title="onlygabbyme" target="_blank">
                          <svg class="icon">
                            <use xlink:href="/media/sprites.svg#it-instagram"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="it-header-navbar-wrapper sticky-top">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navbar navbar-expand-lg has-megamenu">
                <button class="custom-navbar-toggler" type="button" aria-controls="nav10" aria-expanded="false" aria-label="Toggle navigation" data-target="#nav10">
                  <svg class="icon">
                    <use xlink:href="/media/sprites.svg#it-burger"></use>
                  </svg>
                </button>
                <div class="navbar-collapsable" id="nav10">
                  <div class="overlay"></div>
                  <div class="close-div sr-only">
                    <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
                  </div>
                  <div class="menu-wrapper">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/"><span>home</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/amministrazione/"><span>Amministrazione</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/amministrazione/2/"><span>Seconda Amministrazione</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/chi-sono/"><span>Chi sono</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/FOIA/"><span>FOIA</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/dipartimenti/"><span>dipartimenti</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/news/"><span>News</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/servizi/"><span>Servizi</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/progetti/"><span>Project</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/contatti/"><span>Contatti</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script type="text/javascript" src="https://www.protezionecivile.fvg.it/widgets/pcrfvgit_alert.js"></script><div class="pcrfvgit_alert_widget" data-istatcode="93033"></div>

<style>
/* Nasconde l'elemento a schermo */
.print-header {
  display: none;
}

/* Lo mostra SOLO quando si stampa */
@media print {
  .print-header {
    display: block !important;
  }
}
</style>

<div class="print-header">
  <div class="it-header-center-wrapper theme-light">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <div class="it-header-center-content-wrapper">
            <div class="it-brand-wrapper">
              <a href="#">
                <svg class="icon" aria-hidden="true">
                  <use href="/media/sprites.svg#it-print"></use>
                </svg>
                <div class="it-brand-text">
                  <div class="it-brand-title">Jonez</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ content }}
  
  <footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              <a href="#" data-focus-mouse="false">
                <svg class="icon"><use xlink:href="/media/sprites.svg#it-code-circle"></use></svg>
                <div class="it-brand-text">
                  <h1>Jonez</h1>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
            <h4>
              <a href="#" title="Vai alla pagina: Amministrazione">Amministrazione</a>
            </h4>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li><a class="list-item" href="/amministrazione/jonez/">Amministrazione Jonez</a></li>
                <li><a class="list-item" href="/amministrazione/agfo/">Amministrazione AGFO</a></li>
                <li><a class="list-item" href="/amministrazione/upid/">Amministrazione UPID</a></li>
                <li><a class="list-item" href="/amministrazione/2/">Seconda Amministrazione</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
            <h4>
              <a href="#" title="Vai alla pagina: Servizi">Servizi</a>
            </h4>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li><a class="list-item" href="/at/serviziweb/">Servizi Web</a></li>
                <li><a class="list-item" href="/at/servizifamiglie/">Servizi Famiglie</a></li>
                <li><a class="list-item" href="/at/serviziaziende/">Servizi Aziende</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
            <h4>
              <a href="#" title="Vai alla pagina: Novità">Dinamici dentro</a>
            </h4>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li><a class="list-item" href="/news/">Notizie</a></li>
                <li><a class="list-item" href="/FOIA/">FOIA</a></li>
                <li><a class="list-item" href="/dipartimenti/stampa/">dipartimento Stampa</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <h4>
              <a href="/dipartimenti/" title="Vai alla pagina: dipartimenti">dipartimenti</a>
            </h4>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li><a class="list-item" href="/dipartimenti/stampa/">dipartimento stampa</a></li>
                <li><a class="list-item" href="/dipartimenti/educazione/">dipartimento Educazione</a></li>
                <li><a class="list-item" href="/dipartimenti/politico/">dipartimento Politico</a></li>
                <li><a class="list-item" href="/dipartimenti/cultura/">dipartimento cultura</a></li>
                <li><a class="list-item" href="/dipartimenti/direttivo/">dipartimento direttivo</a></li>
                <li><a class="list-item" href="/dipartimenti/GJWS/">dipartimento GJWS</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="py-4 border-white border-top">
        <div class="row">
          <div class="col-lg-4 col-md-4 pb-2">
            <h4>Contatti</h4>
            <p>
              <strong>Jonez Services</strong><br>
              ******* PS: Jonez Services accetta nuove email solo all'ufficio pubblico del distetto gjws
            </p>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li>
                  <a class="list-item" href="mailto:segreteria.gjws@jonez.it">Ufficio Pubblico - Segreteria GJWS</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <!-- <h3 class="visually-hidden">Sezione Link Utili</h3> -->
      <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
        <li class="list-inline-item"><a href="/media/policy/">Media policy</a></li>
        <li class="list-inline-item"><a href="/note-legali/">Note legali</a></li>
        <li class="list-inline-item"><a href="/privacy-policy/">Privacy policy</a></li>
        <li class="list-inline-item"><a href="/mappa-del-sito/">Mappa del sito</a></li>
      </ul>
    </div>
  </div>
</footer>








<style>
  @media print {
    /* Nasconde header, footer e altri elementi */
    header,
    .it-hero-wrapper,
    .it-overlay,
    .it-bottom-overlapping-content,
    footer {
      display: none;
    }

    /* Margini di stampa generali */
    @page {
      margin: 10mm; /* per tutte le pagine di default */
    }

    /* Prima pagina senza margine superiore */
    @page :first {
      margin-top: 0;
    }

    /* Padding interno per garantire margini laterali e inferiori */
    body {
      margin: 0;
      padding: 0;
    }
  }
</style>
  <script src="{{ '/assets/bootstrap-italia/dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>
  <script>
    // Aggiorna la progress bar dell'indice
    const progressBar = document.querySelector('.it-navscroll-progressbar');
    window.addEventListener('scroll', () => {
      const scrollTop = window.scrollY;
      const docHeight = document.body.scrollHeight - window.innerHeight;
      const scrollPercent = (scrollTop / docHeight) * 100;
      if(progressBar) progressBar.style.width = scrollPercent + '%';
    });
  </script>
