---
layout: base
---

<div class="scheda-testo ng-star-inserted">
  <h4 class="ng-star-inserted">
    <a target="_blank" href="{{ link.url | default: '#' }}" title="{{ link.name }}">
      {{ page.links.name }}
    </a>
  </h4>
  <div class="container text-break">
    <p class="ng-star-inserted">
      Link Esterno
    </p>
  </div>
</div>

<div class="scheda-testo ng-star-inserted">
  <h4 class="ng-star-inserted">
    <a target="_blank" href="{{ link.url | default: '#' }}" title="{{ link.name }}">
      {{ links.name }}
    </a>
  </h4>
  <div class="container text-break">
    <p class="ng-star-inserted">
      Link Esterno 2
    </p>
  </div>
</div>